.files .content {
    align-items: center;
    
    padding-left: 20px;
    padding-right: 20px;
}

.files .content .text {
    width: 50%;  
}

.files .content .text p {
    text-align: center;
}

.files .content .pdf {
    width: 50%;
    height: 800px;
}

.files .content .pdf iframe {
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 1000px) {

    .files .content .pdf {
        width: 100%;
        height: 400px;
    }
}

@media screen and (max-width: 580px) {
    .files .content .text {
        width: 100%;  
    }
}