.files .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

    width: 100%;

    margin-top: 50px;
    margin-bottom: 100px;
    
    padding-left: 20px;
    padding-right: 20px;
}

.files .content .text {
    width: 50%;  
}

.files .content .text p {
    text-align: center;
}

.files .content .pdf {
    width: 50%;
    height: 800px;
}

.files .content .pdf iframe {
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 580px) {

    .files .content .pdf {
        width: 90%;
        height: 400px;
    }
}