.landing-page {
    padding: 0;
    height: calc(100vh - 170px);
}

.landing-page .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-page .content img {
    transition: transform .5s;
    height: calc(100vh - 170px);
}

.landing-page .content img:hover {
    /* TODO: Add z-index so it won't overlap */
    transform: scale(1.005); 
}