.landing-page {
    margin-top: 170px;
    padding: 0;
    height: calc(100vh - 170px);
}

.landing-page .landing-page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-page .landing-page-content img {
    transition: transform .5s;
    height: calc(100vh - 170px);
}

.landing-page .landing-page-content img:hover {
    /* TODO: Add z-index so it won't overlap */
    transform: scale(1.005); 
}

@media screen and (max-width: 580px) { 

    .landing-page {
        margin-top: 170px;
        padding: 0;
        height: 200px;
    }
    
    .landing-page .landing-page-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .landing-page .landing-page-content img {
        transition: transform .5s;
        height: 200px;
    }
}