.multimedia .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

    width: 100%;

    margin-top: 50px;
    margin-bottom: 100px;
    
    padding-left: 20px;
    padding-right: 20px;
}

.multimedia .content .text {
    width: 70%;  
}

.multimedia .content .text p {
    text-align: center;
}

.multimedia .content .video {
    width: 70%;
    height: 583px;
}

.multimedia .content .video iframe {
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 1000px) {

    .multimedia .content .video {
        width: 90%;
        height: 400px;
    }
}