#navbar {
    height: 170px;
    background-color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    transition: 0.15s; 

    /* Border-Line outside */
    border-bottom: 2px solid #1b381e;
}

nav #logo {
    display: none;
    
    height: 50px;
    width: 50px;

    left: 0;
    position: absolute;
    margin-left: 20px;

    background-color: gray;
}

nav #nav-title h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;

    color: #1B381E;
}

nav .navbar {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

nav .navbar a:hover {
    color: #632f5d;
}

@media screen and (max-width: 580px) {
    /*
    *  '!important' is used to not overwrite anything on small screens
    */
    #navbar {
        height: 50px !important;
        flex-direction: column !important;
    }

    #nav-title {
        display: flex !important;
    }

    #logo {
        display: none !important;
    }

  }