@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Open Sans', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

nav {
    height: 150px;

    display: flex;
    flex-direction: row;
}
