@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import 'bulma/css/bulma.css';

h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Open Sans', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
}

.section {
    padding: 0;
}
  
.navbar { grid-area: 1 / 1 / 2 / 2; }
  
.body-content { grid-area: 2 / 1 / 3 / 2; }
  
