body {
    width: 100vw;
    height: 100vh;
}

.top-container {
    width: 100%;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    /* TODO: Add z-index */

    border-bottom: 0.5px solid black;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.main-content {
    padding-top: 50px;
}

section.main-content {
    width: 100%;
    height: 1000px;
}

footer {
    position: fixed;
    /* TODO: clean this up */

    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;

    height: 100px;
}